<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/main.css">
    <title>My Bank</title>
</head>
<body>
    <div id="container">
        <h1>Bem-vindo ao&#160; <span>My Bank!</span></h1>
        <div id="content">
            <div id="register">
                <div id="div-p-register">
                    <p>É novo por aqui? Crie sua conta!</p>
                </div>
                <a href="/register">Cadastre-se</a>
            </div>
    
            <div id="client-list">
                <div id="div-p-client-list">
                    <p>Já é cliente? Encontre seu perfil!</p>
                </div>
                <a href="/clientList">Clientes</a>
            </div>
        </div>
    </div>
</body>
</html>